.search-form-input {
    width: 800px;
    height: 22px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    font-size: 1rem;
    color: 595859;
    outline: none;
}

svg {
    color: #616061;
}


.search-form-default {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    padding: 0 10px;
    outline: none;
    border: 0;
    cursor: pointer;
    color: #fdffff;
    background-color: #5d3d5e;
}

.search-form-default::placeholder { 
    color: #fdffff;
}

.search-input-compose {
    padding-left: 10px;
    width: 100%;
    border: none;
    font-size: 15px;
    height: 44px;
}
.search-input-compose:focus {
    outline: none;
}

.search-input-create-channel {
    padding: 12px 20px;
    width: 100%;
    border: none;
    margin-left: 0px;
    font-size: 15px;
    border-bottom: 1px solid #DDDDDD;

}

.search-input-create-channel:focus {
    outline: none;
}

.members-list-search-input { 
    align-self: center;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: 10px;
}
.members-list-search-input:focus {
    outline: none; 
}