
.container-add-member {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    width: 580px;
    height: 600px;                                                          
    max-height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fdffff;
    justify-content: flex-start;
}

.d-flex {
    border: 1px solid #1d1c1d4d;
    align-items: center;
    border-radius: 5px;
    padding-left: 12px;
    height: 36px;
    justify-self: center;
    align-self: center;
}

.d-flex:hover {
    border: 1px solid rgb(97,96,97);
}

.input-wrapper:focus-within {
    outline: none;
    --saf-0: rgba(var(--sk_highlight,18,100,163),1);
    box-shadow: 0 0 0 1px var(--saf-0),0 0 0 5px rgba(29,155,209,.3);
    border-radius: 4px;
    border-color: transparent;
    -webkit-appearance: none;
}

.input-wrapper {
    position: relative;
}

.wrapper {
    padding: 25px;
    border-bottom: 1px solid #DDDDDD;
}

.wrapper-searchlist {
    position: relative;
    top: -10px;
    width: 100%;
    border: 1px solid #9C9B9C;
    border-radius: 10px;
    margin-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    align-self: center;
}

.wrapper-list {
    margin: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
    width:100%;
    align-self: center;
}

button {
    width: 100px;
    height: 36px;
    background-color: #fdffff;
    border: 1px solid #BBBABB;
    border-radius: 5px;
}

.wrapper-button {
    padding-top: 10px;
    background-color: #fdffff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 10px;
    align-self: center;
    border-top: 1px solid #1d1c1d4d;
}

.wrapper-button button:hover {
    cursor: pointer;
}

.users-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #DDDDDD;
    padding: 10px;
    gap: 8px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
}

.users-container:hover {
    background-color: #ff000021;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 89%;
}

small {
    font-size: 12px;
}

.add-new-member-btn:hover {
    background-color: #007a5a;
    color: #fff;
    font-weight: bold;
}

.disabled {
    pointer-events: none;
    opacity: .5;
}
