
.container-channel-members {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    width: 580px;
    height: 600px;                                                          
    max-height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fdffff;
}

.d-flex {
    border: 1px solid #1d1c1d4d;
    width: 100%;
    align-items: center;
    border-radius: 5px;
    padding-left: 12px;
    height: 36px;
    justify-self: center;
}

.d-flex:hover {
    border: 1px solid rgb(97,96,97);
}

.wrapper {
    padding: 25px;
    border-bottom: 1px solid #DDDDDD;
}

.input-wrapper:focus-within {
    outline: none;
    --saf-0: rgba(var(--sk_highlight,18,100,163),1);
    box-shadow: 0 0 0 1px var(--saf-0),0 0 0 5px rgba(29,155,209,.3);
    border-radius: 4px;
    border-color: transparent;
    -webkit-appearance: none;
}

header {
    margin-left: 28px;
}

.container-searchlist {
    max-height: 600px;
}
