
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 30px;
    padding-right: 40px;
    margin-bottom: 20px;
}

button {
    width: 100px;
    height: 36px;
    background-color: #fdffff;
    border: 1px solid #BBBABB;
    align-self: center;
}