@font-face {
    font-family: 'Lato', sans-serif;
    src: url(./fonts/Lato/Lato-Black.ttf) format('ttf');
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
body {
    min-width: 500px;
    margin: 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

a {
    color: #cfc3cf;
    font-weight: 400;
}

.content-center {
    align-items: center;
    justify-content: center;
}

.align-middle {
    align-items: center;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.full-content {
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.container,
.message-container {
    padding: 20px 20px 100px 20px;
    overflow: auto;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.content {
    height: 100vh;
    width: 100%;
}

.text-center {
    text-align: center;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.wrapper {
    height: auto;
}

.message-container {
    justify-content: flex-end;
}

.info-wrapper {
    font-size: 13px;
    position: absolute;
    right: 50px;
    color: #616061;
    row-gap: 3px;
    align-items: flex-end;
}

.info-wrapper a {
    color: #1264a3;
    text-decoration: none;
    font-weight: bold;
}

.info-wrapper a:hover {
    text-decoration: underline;
}

/* used for channel members backdrop */
.wrapper-blackout-backdrop {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    z-index: 1;
}

.fixed-top {
    top: 20px;
    position: fixed;
    width: 100%;
    background-color: #fdffff;
    padding-bottom: 16px;
}