.login-container {
    justify-content: center;
    padding-top: 50px;
    position: relative;
}

.fc-icon, .ai-icon {
    margin-right: 10px;
}

#google-login-btn, #apple-login-btn {
    display: flex;
    justify-content: center;
    background: transparent;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

#google-login-btn {
    border: 2px solid #3F86F0;
    color: #3F86F0;
    margin-bottom: 5px;
}

#apple-login-btn {
    border: 2px solid #1D1C1D;
    margin-bottom: 20px;
}

.container-wrapper {
    gap: 15px;
    min-width: 300px;
}

.divider {
    position: relative;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    margin: 10px 0;
}

.divider-text {
    position: absolute;
    top: -8px;
    left: 44%;
    padding: 0 15px;
    background-color: #fff;
}

.hidden { 
    margin: unset;
    color: #e74444;
    font-size: 15px;
    visibility:hidden;
}