.input-wrapper svg {
    position: absolute;
    top: 20px;
    right: 15px;
}

.container {
    width: 100vw;
}

svg {
    color: #52687c;
}

h1 {
    margin: unset;
    font-size: 43px;
    font-weight: bold;
    margin-top: 20px;
}

.desc {
    color: #616061;
    font-size: 15px;
    margin-top: 15px;
    line-height: 25px;
}

.wrapper {
    margin: 20px;
    width: 90%;
}

.checkbox {
    font-size: 15px;
    margin-top: 13px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.checkbox input {
    margin-right: 8px;
}

a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
    text-decoration: none;
    display: inline;
    margin: 10px;
    font-size: 15px;
}

li>a:hover{
    color: rgb(40, 40, 109);
}

.fc-icon {
    font-size: 20px;
    padding-right: 10px;
}

.signup-container {
    height: 100vh;
    align-items: center;
    padding: 50px;
    position: relative;
}

.signup-wrapper {
    padding-top: 5px;
    width: 415px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.footer {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

.footer a {
    color: #616061;
}

.continue-btn {
    padding-top: 20px;
}
