*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

.justify-bottom {
    justify-content: flex-end;
}

.content {
    overflow: auto;
    display: grid;
    height: auto;
}

.no-convo {
    gap: 15px;
}

.card {
    column-gap: 20px;
    font-size: 15px;
    padding-bottom: 10px;
}

.card,
.short-desc {
    color: #1d1c1d;
}

.info {
    row-gap: 5px;
    justify-content: space-between;
    height: 70px;
}

.info label,
.info small {
    color: #1d1c1db3;
}

.short-desc {
    font-size: 18px;
    line-height: 25px;
}

.short-desc label {
    color: #1264a3;
    text-decoration: none;
    background-color: #1264a31c;
    padding: 2px;
    border-radius: 2px;
}

.normal-link {
    background-color: unset !important;
}

.normal-link:hover {
    text-decoration: underline;
}

.message-content {
    gap: 20px;
}
