button {
    padding: .8rem 1.5rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: #4A154B;
    color: #fff;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
}

button:hover {
    opacity: .9;
}

.loading {
    opacity: .5;
    pointer-events: none;
}

.logout-btn {
    background-color: #DC4E56;
    width: 80%;
    font-size: 14px;
    border-radius: 2px;
    padding: 8px;
    position: absolute;
    bottom: 100px;
    color: #fff;
    letter-spacing: 1px;
}

.logout-btn:hover {
    opacity: .9;
}
