*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

a {
    text-decoration: none;
    height: 30px;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 10px;
}

.compose-nav-link {
    padding: unset;
}

.compose-nav-link:hover {
    background-color: none;
    color: none;
}

.children-item {
    padding: 0 25px;
    height: 30px;
}

.parent-navlink-item {
    color: #cfc3cf;
    padding: 0 15px;
    font-size: 14px;
}

.parent-navlink {
    cursor: pointer;
    display: flex;
    padding: 10px 0;
    gap: 10px;
    flex-direction: column;
    min-height: 15px;
    height: 100%;
}

a:hover:not(.active) {
    background-color: #350d36;
}

.vsc-triangle {
    padding: 5px;
    font-size: 22px;
    margin-left: -3px;
    margin-right: 6px;
}

.vsc-triangle:hover {
    background-color: #ffffff24;
    color: #cfc3cf;
    border-radius: 2px;
}

.auto-scroll {
    max-height: 250px;
    overflow: auto;
}
